*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    background-image: linear-gradient(-45deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.801));
}

.title{
    width: 304px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    font-size: 55px;
    font-weight: 100;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

#container{
    width: 320px;
    margin: 0 auto;
    margin-top: 45px;
}

#container h4{
    width: 320px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 100;
}

#container input{
    width: 200px;
    height: 30px;
}

#container button{
    width: 30px;
    height: 30px;
    background-color: rgb(28, 147, 252);
    border: none;
    border-radius: 3px;
    color: honeydew;
    font-weight: 800;
    
}

#container label{
    letter-spacing: 1px;
}

#container p{
    width: 300px;
    text-align: center;
    margin-top: 8px;
    font-size: 30px;
}

#container p:nth-child(1){
    margin-top: 50px;
}


